.Users {
  display: flex;
  justify-content: center;
  div{
    table{
      margin-top: 50px;
      tbody{
        .headers{
          td{
            font-weight: bold;
          }
        }
        tr{
          td{
            padding: 10px 50px;
            border:1px solid black ;
            text-align: center;
            button{
              margin: 2px 5px;
              background: none;
              border: none;
              cursor: pointer;
              i{
                font-size: 20px;
              }
            }
            .delete{
              color: rgba(255, 0, 0, 0.55);
              &:hover{
                color: rgb(255, 0, 0);
              }
            }
            .change{
              color: yellowgreen;
              &:hover{
                color: rgba(173, 255, 47, 0.86);
              }
            }
          }
          .actions{
            display: flex;
            border-top: none;
            border-left: none;
          }
        }
      }
    }
  }
}